.logo-wrapper {
    height: 100%;
}
img.logo {
    width: 100%;
    height: 100%; 
}

.icheckField {
    padding-top: 9px;
}

.feature-branch-deployment {}
.feature-branch-deployment .org-name {
    font-weight: bold;
}
.feature-branch-deployment .status.error {
    color: red;
}
.feature-branch-deployment .status.success {
    color: greenyellow;
}
.feature-branch-deployment .result {
    
}
table thead tr th.sorting_asc,
table thead tr th.sorting_desc,
table thead tr th.sortable {
    cursor: pointer;
} 

.generate-default-result-containter {
    padding:10px 25px;
}
.generate-default-result-containter a {
    display:inherit;
    margin-top:10px;
}
.generate-default-result {
    font-size: 15px;
    font-weight: bold;
    word-wrap: break-word;
}
.custom-radio-inline {
    margin-left: 0px !important; margin-right: 15px; cursor: pointer;
}

/*Requet log page*/
.table-max-hight200 {
        height: 200px;
        overflow: auto;
    }

    pre {
        border: none;
        background: #fff;
        padding: 0px;
        margin:0px;
        height: 100%
    }

    .string {
        color: green;
    }

    .number {
        color: darkorange;
    }

    .boolean {
        color: blue;
    }

    .null {
        color: magenta;
    }

    .key {
        color: red;
    }

 .center-div {
  width: 50%;
  margin: 0 auto;
  display: inline-block;
  min-width: 300px;
}

 .right-left-btn{
     border-radius: 5px !important;
     margin: 5px 5px 5px calc(100% - 21em);
     display: inline-block;
 }

 .btn-custom {
  background-color: hsl(214, 37%, 28%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a99c1", endColorstr="#2c4361") !important;
  /*background-image: -khtml-gradient(linear, left top, left bottom, from(#7a99c1), to(#2c4361));*/
  background-image: -moz-linear-gradient(top, #7a99c1, #2c4361);
  /*background-image: -ms-linear-gradient(top, #7a99c1, #2c4361);*/
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a99c1), color-stop(100%, #2c4361)) !important;
  background-image: -webkit-linear-gradient(top, #7a99c1, #2c4361) !important;
  background-image: -o-linear-gradient(top, #7a99c1, #2c4361) !important;
  background-image: linear-gradient(#7a99c1, #2c4361) !important;
  border-color: #2c4361 #2c4361 hsl(214, 37%, 19.5%) !important;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
  -webkit-font-smoothing: antialiased;
}

 .row-new-style{
     margin-right : 0px !important;
 }
 .table > tbody > tr > td:first-child{
     width:60px;
 }
 .table > tbody > tr > td:nth-child(2){
    width: 120px;
    height: 120px;
 }

 .table > tbody > tr > td:nth-child(2) > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top 75%;
 }

 .swiper-container {
    width: 100%;
    height: 100%;
    background-color:rgba(215, 219, 226, 0.37);
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
        
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    background-color:transparent;
}